/**************************Common********************/

.margin-tb-10 {
    margin: 10px 0;
}

.margin-tb-20 {
    margin: 20px 0;
}

.margin-rl-10 {
    margin: 0 10px;
}

.margin-rl-20 {
    margin: 0 20px;
}
.center-flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.width-100p {
    width: 100%
}

.height-100p {
    height: 100%
}

.cursor-pointer{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}

h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}

h6 {
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 2.1rem;
    }
    h2 {
        font-size: 1.78rem;
    }
    h3 {
        font-size: 1.46rem;
    }
    h4 {
        font-size: 1.12rem;
    }
    h5 {
        font-size: 1.06rem;
    }
}

.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.img-content-container {
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
}


/**************Layout*****************/

.layout-full-back {
    position: fixed;
    width: 100%;
    top: 0;
    overflow-y: auto;
}

.layout-padding {
    padding: 64px 0;
}

a {
    color: white;
}